<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
        <style>
            body {
                font-family: Roboto, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #eff2f7;
            }

            .root {
                margin-top: 120px;
                min-height: 100vh;
                padding-top: 50px;
            }

            section {
                position: relative;
                max-width: 960px;
                margin: 0 auto;
            }

            .policy-head h3 {
                color: #ff5e5e;
                font-size: 30px;
                margin-bottom: 50px;
                font-weight: 700;
            }

            .policy-body {
                display: flex;
            }

            .list-policy {
                width: 250px;
                padding: 0 20px 20px 0;
            }

            .policy-item {
                margin-bottom: 10px;
                cursor: pointer;
                padding: 8px 10px;
                border-radius: 4px;
                min-width: 260px;
                color: #333;
                font-weight: 500;
                transition: background-color 0.3s ease;
                /* Độ trễ và hiệu ứng màu nền */

            }

            .policy-name {
                align-items: center;
                color: #333;
                font-size: 20px;
                font-weight: 600;
            }

            .policy-item.selected {
                background-color: #d3d3d3;
                /* Màu nền khi được chọn */
            }

            .policy-item:hover,
            .policy-item:active {
                background-color: #d3d3d3;
            }

            .content-policy {
                flex: 1;
                background-color: #ffffff;
                margin-left: 50px;
                margin-bottom: 50px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
                overflow: auto;
                padding: 30px;
            }

            .content-policy-details {
                color: #555;
                font-size: 16px;
                line-height: 1.6;
            }
        </style>
</head>

<body>
    <div class="app">
        <span id="policy-id" class="d-none">
            <%=id%>
        </span>
        <span id="policy-lang" class="d-none"><%=lang%></span>
        <%- include('../partials/header.ejs') ,{headerSection} %>
            <div class="root container">
                <section class="row">
                    <div class="policy-head">
                        <h3>Chính sách</h3>
                    </div>
                    <div class="policy-body">
                        <div class="list-policy">
                            <% listPolicy.forEach(function(policyItem){ %>
                                <div class="policy-item" id="<%= policyItem.id %>"
                                    onclick="SelectPolicy('<%= policyItem.id %>')">
                                    <div class="policy-name">
                                        <% const field = `name_${lang}`; %>
                                        <%= policyItem[field] %>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <div class="content-policy">
                            <!-- dữ liệu dc api đổ vào đây -->
                            <div class="content-policy-details">

                            </div>

                        </div>
                    </div>
                </section>
            </div>
            <%- include('../partials/footer.ejs'),{footerSection:""} %>
    </div>

    <script src="/js/ejsPolicy.js"></script>

</body>

</html>